.detail-title {
    font-weight: bold;
    font-size: 2rem;
    color: #474340;;
}
.price-text {
    font-size: 1.2rem;
    color: mediumblue;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.description-container {
    margin-top: 1rem;
    
}